@using YumYum.Models.DataTransferObject
@model List<CherishMatch>
@{
    var date = DateTime.Now.ToString("HHmmss");
}
<link href="~/css/Cherish/Match.css?@date" rel="stylesheet" />
@await Html.PartialAsync("_PartialBreadcrumb", (List<BreadcrumbItem>)ViewBag.BreadcrumbsMatch)

<!-- 表單提交食的全域遮罩 -->
<div class="mask" id="mask"></div>


<!-- 搜尋列 -->
<div id="searchbar" class=" mt-2 mb-2">
    <form method="post" class="d-flex justify-content-center align-items-center position-relative">
        <!-- 地區 -->
        <div id="searchbar-addr" class="d-flex">
            <label>
                <svg class="d-inline-block me-1" width="40" height="30" viewBox="0 0 33 41" fill="none">
                    <path d="M16.5002 20.4998C17.5772 20.4998 18.4993 20.1163 19.2663 19.3493C20.0333 18.5823 20.4168 17.6603 20.4168 16.5832C20.4168 15.5061 20.0333 14.584 19.2663 13.817C18.4993 13.05 17.5772 12.6665 16.5002 12.6665C15.4231 12.6665 14.501 13.05 13.734 13.817C12.967 14.584 12.5835 15.5061 12.5835 16.5832C12.5835 17.6603 12.967 18.5823 13.734 19.3493C14.501 20.1163 15.4231 20.4998 16.5002 20.4998ZM16.5002 34.8936C20.4821 31.238 23.4359 27.917 25.3616 24.9306C27.2873 21.9441 28.2502 19.2922 28.2502 16.9748C28.2502 13.4172 27.116 10.5042 24.8476 8.23577C22.5792 5.96737 19.7967 4.83317 16.5002 4.83317C13.2036 4.83317 10.4212 5.96737 8.15277 8.23577C5.88436 10.5042 4.75016 13.4172 4.75016 16.9748C4.75016 19.2922 5.71301 21.9441 7.6387 24.9306C9.5644 27.917 12.5182 31.238 16.5002 34.8936ZM16.5002 40.0832C11.2453 35.6116 7.32048 31.4583 4.72568 27.6233C2.13089 23.7882 0.833496 20.2387 0.833496 16.9748C0.833496 12.079 2.40832 8.17866 5.55798 5.2738C8.70763 2.36893 12.355 0.916504 16.5002 0.916504C20.6453 0.916504 24.2927 2.36893 27.4424 5.2738C30.592 8.17866 32.1668 12.079 32.1668 16.9748C32.1668 20.2387 30.8694 23.7882 28.2746 27.6233C25.6799 31.4583 21.755 35.6116 16.5002 40.0832Z"
                          fill="#5F6368" />
                </svg>
            </label>
            <select name="CitySelect" id="CitySelect" class="d-inline-block p-1" asp-items="@ViewBag.city">
                <option value="">--請選擇城市--</option>
            </select>

            <select name="RegionSelect" class="d-inline-block p-1" id="RegionSelect" asp-items="@ViewBag.region">
                <option value="">--請選擇地區--</option>
            </select>
        </div>

        <!-- 輸入文字框 -->
        <div id="searchbar-text" class="ms-2 d-inline-flex align-items-center position-relative">
            <input class="form-text" placeholder="今天想找甚麼食材？" type="text" name="IngredientSelect" id="" value="@(ViewBag.name)">
            <button class="ms-2" type="submit"
                    style="border: 0;border-radius: 18px; right:-1%; width:5rem ;height: 2.4rem;">
                <svg width="24" height="24" viewBox="0 0 28 28" fill="none">
                    <path d="M25.25 25.25L19.8125 19.8125M22.75
                                12.75C22.75 18.2728 18.2728 22.75 12.75
                                22.75C7.22715 22.75 2.75 18.2728 2.75
                                12.75C2.75 7.22715 7.22715 2.75 12.75
                                2.75C18.2728 2.75 22.75 7.22715 22.75 12.75Z" stroke="#757575" stroke-width="4"
                          stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>

        </div>

    </form>

</div>



<!-- 三個區塊的主體 1. 左側面板 2. 排序按鈕 3. 結果區塊 -->
<div class="main-pannel d-flex position-relative mt-4">

    <!-- 左側面板 -->
    <div class="d-flex flex-column rounded-4" id="left-pannel">

        <div class="filter-head" id="filter-head">
            <span>篩選器</span>
            <button id="reset-left">清除條件</button>
        </div>

        <hr style="width: 90%;margin: 0; margin-left: 1rem;">

        <!-- 食材分類 -->
        <div class="d-flex flex-column align-items-center" id="Ifilter-top">

            <div class=" mt-3  position-relative w-100">
                <span class="d-inline-block me-4 ms-3">食材分類</span>
                <input type="checkbox" id="Ifilter-active" hidden>
                <label for="Ifilter-active" class="extend-tag" style="cursor: pointer;">
                    <svg class="" width="12" height="8" viewBox="0 0 12 8" fill="none">
                        <path d="M6 0.6L0 6.6L1.4 8L6 3.4L10.6 8L12 6.6L6 0.6Z" fill="#5F6368" />
                    </svg>
                </label>
            </div>

            <!-- 標籤本體 -->
            <div class="Ifilter flex-column align-items-center mt-2" id="Ifilter">
                <label class="btn-outline-success btn rounded-4 align-content-center fw-600" for="IAttr-1">
                    <!img src="/img/food_attr/1.svg">
                    <span>全穀雜糧類</span>
                </label>
                <input type="checkbox" name="filter-IAttr" id="IAttr-1" value="1" hidden>
                <label class="btn-outline-success btn rounded-4 align-content-center fw-600" for="IAttr-4">
                    <!img src="/img/food_attr/4.svg">
                    <span>蔬菜類</span>
                </label>
                <input type="checkbox" name="filter-IAttr" id="IAttr-4" value="4" hidden>
                <label class="btn-outline-success btn rounded-4 align-content-center fw-600" for="IAttr-5">
                    <!img src="/img/food_attr/5.svg">
                    <span>水果類</span>
                </label>
                <input type="checkbox" name="filter-IAttr" id="IAttr-5" value="5" hidden>
                <label class="btn-outline-success btn rounded-4 align-content-center fw-600" for="IAttr-6">
                    <!img src="/img/food_attr/6.svg">
                    <span>油與堅果類</span>
                </label>
                <input type="checkbox" name="filter-IAttr" id="IAttr-6" value="6" hidden>

            </div>

        </div>

        <hr style="width: 90%;margin-left: 1rem;">

        <!-- 聯絡方式 -->
        <div style="margin-top: 0.3rem;" id="Cfilter-top">
            <div class="position-relative d-flex align-items-center">
                <span class="ms-3">聯絡方式</span>
                <input type="checkbox" id="Cfilter-active" hidden>
                <label for="Cfilter-active" class="extend-tag" style="cursor: pointer;">
                    <svg class="" width="12" height="8" viewBox="0 0 12 8" fill="none">
                        <path d="M6 0.6L0 6.6L1.4 8L6 3.4L10.6 8L12 6.6L6 0.6Z" fill="#5F6368" />
                    </svg>
                </label>

            </div>
            <div id="Cfilter" class="Cfilter">

                <ul class="list-unstyled">
                    <li class="mt-1 ms-3 d-flex align-items-center">
                        <input type="checkbox" name="contact" id="contact-line" value="1" class="form-check-input">
                        <label for="contact-line" class=" d-block w-100 d-flex align-items-center">
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none">
                                <path d="M19 0H3C1.34315 0 0 1.34315 0 3V19C0 20.6569 1.34315 22 3 22H19C20.6569 22 22 20.6569 22 19V3C22 1.34315 20.6569 0 19 0Z"
                                      fill="#39CD00" />
                                <path d="M17.875 10.25C17.8652 10.3897 17.8473 10.5287 17.8213 10.6663C17.7343 11.193 17.5562 11.7006 17.295 12.1663C17.17 12.3888 16.5688 13.2338 16.385 13.4563C15.3688 14.68 13.6662 16.0925 10.8212 17.4663C10.7612 17.4952 10.6946 17.5077 10.6281 17.5024C10.5617 17.497 10.4979 17.4741 10.4432 17.4359C10.3886 17.3977 10.3452 17.3456 10.3173 17.2851C10.2895 17.2245 10.2784 17.1576 10.285 17.0913L10.4288 15.8C10.4396 15.7012 10.4109 15.6022 10.3487 15.5246C10.2866 15.447 10.1963 15.3972 10.0975 15.3863C9.15104 15.2916 8.22908 15.0287 7.375 14.61C5.425 13.6463 4.125 11.925 4.125 9.96375C4.125 6.94375 7.2025 4.5 11 4.5C12.9075 4.5 14.6325 5.125 15.875 6.11625C17.0388 7.0475 17.7838 8.31125 17.8638 9.71375C17.8771 9.89217 17.8808 10.0712 17.875 10.25Z"
                                      fill="white" />
                                <path d="M9.10489 11.1736C9.13814 11.2061 9.16448 11.245 9.18231 11.288C9.20014 11.3309 9.20909 11.3771 9.20864 11.4236C9.2088 11.4698 9.19984 11.5156 9.18226 11.5584C9.16468 11.6011 9.13884 11.64 9.1062 11.6728C9.07357 11.7055 9.03479 11.7315 8.9921 11.7492C8.9494 11.767 8.90362 11.7761 8.85739 11.7761H7.45114C7.35775 11.7757 7.26828 11.7385 7.20225 11.6725C7.13621 11.6064 7.09897 11.517 7.09864 11.4236V8.76733C7.09833 8.72083 7.10735 8.67475 7.12517 8.63181C7.14299 8.58887 7.16925 8.54994 7.20239 8.51733C7.25159 8.46797 7.31436 8.43437 7.38271 8.42079C7.45107 8.40722 7.52191 8.41428 7.58624 8.44108C7.65057 8.46789 7.70547 8.51322 7.74396 8.57131C7.78245 8.62941 7.80279 8.69764 7.80239 8.76733V11.0711H8.85739C8.90341 11.0707 8.94902 11.0796 8.99154 11.0972C9.03405 11.1148 9.0726 11.1408 9.10489 11.1736Z"
                                      fill="#00C200" />
                                <path d="M10.25 8.69103V11.4998C10.2497 11.5726 10.2206 11.6424 10.1691 11.6939C10.1176 11.7454 10.0478 11.7744 9.97498 11.7748H9.81748C9.74455 11.7748 9.6746 11.7458 9.62303 11.6942C9.57145 11.6427 9.54248 11.5727 9.54248 11.4998V8.69103C9.54248 8.65491 9.54959 8.61915 9.56341 8.58579C9.57723 8.55242 9.59749 8.52211 9.62303 8.49657C9.64856 8.47104 9.67888 8.45078 9.71224 8.43696C9.74561 8.42314 9.78137 8.41603 9.81748 8.41603H9.97123C10.0076 8.4157 10.0437 8.42256 10.0774 8.43622C10.1111 8.44987 10.1418 8.47006 10.1677 8.49561C10.1936 8.52116 10.2142 8.55158 10.2284 8.58511C10.2425 8.61865 10.2498 8.65464 10.25 8.69103Z"
                                      fill="#00C200" />
                                <path d="M13.515 8.76731V11.4086C13.515 11.5036 13.4782 11.5949 13.4122 11.6632C13.3462 11.7316 13.2562 11.7716 13.1612 11.7748C13.0722 11.7734 12.987 11.7386 12.9225 11.6773C12.91 11.6673 12.4375 11.0523 12.0362 10.5348C11.7362 10.1486 11.4762 9.81106 11.4762 9.81106V11.4223C11.4765 11.4906 11.4568 11.5575 11.4196 11.6148C11.3824 11.6721 11.3294 11.7173 11.2669 11.7448C11.2044 11.7724 11.1353 11.7812 11.0679 11.7701C11.0005 11.759 10.9378 11.7285 10.8875 11.6823C10.8512 11.6494 10.8222 11.6093 10.8024 11.5645C10.7826 11.5197 10.7724 11.4713 10.7725 11.4223V8.78231C10.7713 8.6895 10.8058 8.59978 10.8688 8.53165C10.9319 8.46351 11.0186 8.42214 11.1112 8.41606C11.1637 8.41521 11.2156 8.42597 11.2634 8.44758C11.3111 8.4692 11.3535 8.50112 11.3875 8.54106C11.4025 8.55856 12.1287 9.50356 12.5375 10.0411C12.7 10.2511 12.8125 10.3986 12.8125 10.3986V8.77356C12.8131 8.68061 12.8504 8.59165 12.9161 8.52591C12.9818 8.46018 13.0708 8.42297 13.1637 8.42231C13.2558 8.4223 13.3442 8.45845 13.4099 8.52297C13.4756 8.5875 13.5134 8.67524 13.515 8.76731Z"
                                      fill="#00C200" />
                                <path d="M14.75 10.4462V11.0712H15.8037C15.8517 11.0683 15.8998 11.0753 15.9449 11.0917C15.9901 11.1081 16.0315 11.1335 16.0664 11.1665C16.1014 11.1994 16.1293 11.2392 16.1483 11.2833C16.1674 11.3274 16.1772 11.375 16.1772 11.423C16.1772 11.4711 16.1674 11.5186 16.1483 11.5628C16.1293 11.6069 16.1014 11.6466 16.0664 11.6796C16.0315 11.7125 15.9901 11.738 15.9449 11.7544C15.8998 11.7708 15.8517 11.7778 15.8037 11.7749H14.3937C14.3005 11.7746 14.2111 11.7373 14.1453 11.6712C14.0794 11.6051 14.0425 11.5157 14.0425 11.4224V8.7674C14.0428 8.67435 14.0799 8.5852 14.1457 8.5194C14.2115 8.45359 14.3007 8.41648 14.3937 8.41615H15.8C15.848 8.41329 15.896 8.42027 15.9412 8.43666C15.9864 8.45305 16.0277 8.47851 16.0627 8.51146C16.0977 8.54442 16.1255 8.58418 16.1446 8.6283C16.1636 8.67242 16.1735 8.71997 16.1735 8.76803C16.1735 8.81608 16.1636 8.86364 16.1446 8.90776C16.1255 8.95188 16.0977 8.99164 16.0627 9.02459C16.0277 9.05755 15.9864 9.083 15.9412 9.09939C15.896 9.11578 15.848 9.12276 15.8 9.1199H14.75V9.7449H15.8037C15.8969 9.7449 15.9862 9.78191 16.0521 9.84778C16.118 9.91365 16.155 10.003 16.155 10.0962C16.155 10.1893 16.118 10.2787 16.0521 10.3445C15.9862 10.4104 15.8969 10.4474 15.8037 10.4474L14.75 10.4462Z"
                                      fill="#00C200" />
                            </svg>
                            <p class="ms-3 d-inline-block">LINE</p>
                        </label>

                    </li>
                    <li class="mt-1 ms-3 d-flex align-items-center">
                        <input type="checkbox" name="contact" id="contact-phone" value="2" class="form-check-input">
                        <label for="contact-phone">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
                                <path d="M17.5102 13.2102L14.9983 10.6982C14.1012 9.80111 12.576 10.16 12.2172 11.3262C11.948 12.1337 11.0509 12.5822 10.2435 12.4028C8.44926 11.9542 6.02701 9.62168 5.57845 7.73772C5.30931 6.93027 5.84759 6.03314 6.655 5.76404C7.82127 5.40519 8.18012 3.88007 7.28299 2.98295L4.77104 0.470991C4.05334 -0.156997 2.97679 -0.156997 2.3488 0.470991L0.644257 2.17553C-1.06028 3.96978 0.823682 8.72455 5.04018 12.941C9.25667 17.1575 14.0114 19.1313 15.8057 17.337L17.5102 15.6324C18.1383 14.9147 18.1383 13.8382 17.5102 13.2102Z"
                                      fill="#5F6368" />
                            </svg>

                            <span class="ms-3">電話號碼</span>
                        </label>

                    </li>
                    <li class="mt-1 ms-3 d-flex align-items-center">
                        <input type="checkbox" name="contact" id="contact-other" value="3" class="form-check-input">
                        <label for="contact-other">
                            <svg width="18" height="20" viewBox="0 0 18 20" fill="none">
                                <path d="M2.33317 19.1668V17.5002H15.6665V19.1668H2.33317ZM2.33317 2.50016V0.833496H15.6665V2.50016H2.33317ZM8.99984 10.8335C9.69428 10.8335 10.2846 10.5904 10.7707 10.1043C11.2568 9.61822 11.4998 9.02794 11.4998 8.3335C11.4998 7.63905 11.2568 7.04877 10.7707 6.56266C10.2846 6.07655 9.69428 5.8335 8.99984 5.8335C8.30539 5.8335 7.71511 6.07655 7.229 6.56266C6.74289 7.04877 6.49984 7.63905 6.49984 8.3335C6.49984 9.02794 6.74289 9.61822 7.229 10.1043C7.71511 10.5904 8.30539 10.8335 8.99984 10.8335ZM2.33317 16.6668C1.87484 16.6668 1.48248 16.5036 1.15609 16.1772C0.829698 15.8509 0.666504 15.4585 0.666504 15.0002V5.00016C0.666504 4.54183 0.829698 4.14947 1.15609 3.82308C1.48248 3.49669 1.87484 3.3335 2.33317 3.3335H15.6665C16.1248 3.3335 16.5172 3.49669 16.8436 3.82308C17.17 4.14947 17.3332 4.54183 17.3332 5.00016V15.0002C17.3332 15.4585 17.17 15.8509 16.8436 16.1772C16.5172 16.5036 16.1248 16.6668 15.6665 16.6668H2.33317ZM3.7915 15.0002C4.4165 14.2224 5.17345 13.6113 6.06234 13.1668C6.95123 12.7224 7.93039 12.5002 8.99984 12.5002C10.0693 12.5002 11.0484 12.7224 11.9373 13.1668C12.8262 13.6113 13.5832 14.2224 14.2082 15.0002H15.6665V5.00016H2.33317V15.0002H3.7915ZM6.24984 15.0002H11.7498C11.3471 14.7224 10.913 14.5141 10.4478 14.3752C9.98248 14.2363 9.49984 14.1668 8.99984 14.1668C8.49984 14.1668 8.0172 14.2363 7.55192 14.3752C7.08664 14.5141 6.65261 14.7224 6.24984 15.0002ZM8.99984 9.16683C8.76373 9.16683 8.56581 9.08697 8.40609 8.92725C8.24636 8.76752 8.1665 8.56961 8.1665 8.3335C8.1665 8.09739 8.24636 7.89947 8.40609 7.73975C8.56581 7.58002 8.76373 7.50016 8.99984 7.50016C9.23595 7.50016 9.43386 7.58002 9.59359 7.73975C9.75331 7.89947 9.83317 8.09739 9.83317 8.3335C9.83317 8.56961 9.75331 8.76752 9.59359 8.92725C9.43386 9.08697 9.23595 9.16683 8.99984 9.16683Z"
                                      fill="#5F6368" />
                            </svg>
                            <span class="ms-3">其他聯絡方式</span>
                        </label>

                    </li>
                </ul>
            </div>
        </div>

        <hr style="width: 90%;margin-left: 1rem;">

        <!-- 截止日期 -->
        <div id="Dfilter-top">
            <div class="position-relative d-flex align-items-center">
                <span class="ms-3">截止日期</span>
                <input type="checkbox" id="Dfilter-active" hidden>
                <label for="Dfilter-active" class="extend-tag" style="cursor: pointer;">
                    <svg class="" width="12" height="8" viewBox="0 0 12 8" fill="none">
                        <path d="M6 0.6L0 6.6L1.4 8L6 3.4L10.6 8L12 6.6L6 0.6Z" fill="#5F6368" />
                    </svg>
                </label>

            </div>
            <div id="Dfilter" class="Dfilter">

                <ul class="list-unstyled">
                    <li class="mt-1 ms-3 d-flex align-items-center">
                        <input type="checkbox" name="endDay" id="day-1" value="1" class="form-check-input">
                        <label for="day-1" class="ms-2 w-100">一天內</label>
                    </li>
                    <li class="mt-1 ms-3 d-flex align-items-center">
                        <input type="checkbox" name="endDay" id="day-3" value="2" class="form-check-input">
                        <label for="day-3" class="ms-2 w-100">三天內</label>
                    </li>
                    <li class="mt-1 ms-3 d-flex align-items-center">
                        <input type="checkbox" name="endDay" id="day-7" value="3" class="form-check-input">
                        <label for="day-7" class="ms-2 w-100">七天內</label>
                    </li>
                    <li class="mt-1 ms-3 d-flex align-items-center">
                        <input type="checkbox" name="endDay" id="day-over" value="4" class="form-check-input">
                        <label for="day-over" class="ms-2 w-100">七天以上</label>
                    </li>

                </ul>
            </div>
        </div>

        <hr style="width: 90%;margin-left: 1rem; ">
    </div>

    <!-- 右側 -->
    <div class="d-flex flex-column" style="width: 100%;">

        <!--
            篩選按鈕
        <div class="text-end d-flex align-items-center justify-content-end mt-3 mb-3 position-relative"
             style="justify-content: flex-end;">
            <div>排序依據</div>
            <svg class="ms-2" width="12" height="8" viewBox="0 0 12 8" fill="none">
                <path d="M6 0.6L0 6.6L1.4 8L6 3.4L10.6 8L12 6.6L6 0.6Z" fill="#5F6368" />
            </svg>
            <div class="mask-order-extend" id="date-order"></div>
            <div class="date-order-extend position-absolute top-100">
                <p id="vd-s-l">截止日期：由短到長</p>
                <p id="vd-l-s">截止日期：由長到短</p>
            </div>
        </div>

        -->
        <!-- 實際資料結果 -->
        <div class="ms-2 mb-2">

            @{
                foreach (CherishMatch order in Model)
                {
                    <div class="card d-flex flex-row ms-3 mb-3 p-4 result-div">
                        <!-- 圖片 -->
                        <div class="d-flex align-items-center ms-2 result-imgbox">
                            <img src="@Url.Content($"~{order.CherishPhoto}")" style="width:100%;border-radius: 12px;">
                        </div>

                        <!-- 卡片內容 -->
                        <div class="card-body d-flex flex-column">

                            <!-- 標題 -->
                            <div class="result-title d-flex position-relative mb-1" style="padding: 0; margin: 0;">
                                <div>
                                    <h5 class=" ms-2 ">@order.IngredientName</h5>
                                </div>
                                <div class="result-title-span">
                                    數量<span class="ms-3">@order.Quantity</span>
                                    <p>截止日期<span class="ms-3">@order.EndDate.ToString("yyyy.MM.dd")</span></p>
                                </div>
                            </div>

                            <!-- 購買日期、採購日期 -->
                            <div class="d-inline-flex align-items-center mt-3 result-buydate"
                                 style="margin-bottom: 0.7rem;">
                                <span class="fw-bold d-inline-block ">
                                    購買日期 或 採收日期
                                </span>
                                <span>@order.ObtainDate.ToString("yyyy.MM.dd")</span>

                                <p class="position-absolute " style="padding: 0.2rem 0; margin: 0.5rem 0;right: 8%;  border-radius: 15px;
                                            width: 5.7rem; background-color:#0000002c;text-align:
                                            center;font-size: 1rem;">
                                    @order.IngredAttributeName
                                </p>
                            </div>

                            <!-- 有效期限 -->
                            <div class="d-inline-flex align-items-center  result-valid"
                                 style="margin-bottom: 0.7rem;">
                                <span class="fw-bold d-inline-block ">
                                    有效期限
                                </span>
                                <span>@(order.CherishValidDate == null ? "無備註" : ((DateOnly)order.CherishValidDate!).ToString("yyyy.MM.dd"))</span>


                            </div>

                            <!-- 贈與人 -->
                            <div class="d-inline-flex align-items-center result-from"
                                 style="margin-bottom: 0.7rem;">
                                <span class="fw-bold d-inline-block ">
                                    From
                                </span>
                                <svg style="padding:0;" width="13" height="14" viewBox="0 0 32 32" fill="none">
                                    <path d="M16 15.6427C13.8 15.6427 11.9722 14.9003 10.5165 13.4156C9.06117 11.9305 8.3335 10.0658 8.3335 7.82134C8.3335 5.57691 9.06117 3.71216 10.5165 2.22709C11.9722 0.742365 13.8 0 16 0C18.2 0 20.0278 0.742365 21.4835 2.22709C22.9388 3.71216 23.6665 5.57691 23.6665 7.82134C23.6665 10.0658 22.9388 11.9305 21.4835 13.4156C20.0278 14.9003 18.2 15.6427 16 15.6427ZM0 32V26.899C0 25.652 0.308333 24.5609 0.925 23.6257C1.54167 22.6905 2.3445 21.9793 3.3335 21.492C5.51117 20.4606 7.63883 19.6869 9.7165 19.171C11.7945 18.6551 13.889 18.3972 16 18.3972C18.111 18.3972 20.1998 18.6608 22.2665 19.1879C24.3332 19.715 26.4545 20.4852 28.6305 21.4986C29.6485 21.989 30.4645 22.6999 31.0785 23.6313C31.6928 24.5628 32 25.652 32 26.899V32H0ZM3.3335 28.5992H28.6665V26.899C28.6665 26.4117 28.5305 25.9526 28.2585 25.5218C27.9862 25.0909 27.6445 24.7678 27.2335 24.5526C25.2112 23.5436 23.3055 22.8323 21.5165 22.4188C19.7278 22.005 17.889 21.798 16 21.798C14.111 21.798 12.261 22.005 10.45 22.4188C8.639 22.8323 6.7335 23.5436 4.7335 24.5526C4.32217 24.7678 3.986 25.0909 3.725 25.5218C3.464 25.9526 3.3335 26.4117 3.3335 26.899V28.5992ZM16 12.2424C17.2333 12.2424 18.2638 11.82 19.0915 10.9753C19.9195 10.1309 20.3335 9.07958 20.3335 7.82134C20.3335 6.5631 19.9195 5.51178 19.0915 4.6674C18.2638 3.82268 17.2333 3.40032 16 3.40032C14.7667 3.40032 13.7362 3.82268 12.9085 4.6674C12.0805 5.51178 11.6665 6.5631 11.6665 7.82134C11.6665 9.07958 12.0805 10.1309 12.9085 10.9753C13.7362 11.82 14.7667 12.2424 16 12.2424Z"
                                          fill="#5F6368" />
                                    <path d="M16 12.2424C17.2333 12.2424 18.2638 11.82 19.0915 10.9753C19.9195 10.1309 20.3335 9.07958 20.3335 7.82134C20.3335 6.5631 19.9195 5.51178 19.0915 4.6674C18.2638 3.82268 17.2333 3.40032 16 3.40032C14.7667 3.40032 13.7362 3.82268 12.9085 4.6674C12.0805 5.51178 11.6665 6.5631 11.6665 7.82134C11.6665 9.07958 12.0805 10.1309 12.9085 10.9753C13.7362 11.82 14.7667 12.2424 16 12.2424Z"
                                          fill="#5F6368" />
                                    <path d="M3.3335 28.5992H28.6665V26.899C28.6665 26.4117 28.5305 25.9526 28.2585 25.5218C27.9862 25.0909 27.6445 24.7678 27.2335 24.5526C25.2112 23.5436 23.3055 22.8323 21.5165 22.4188C19.7278 22.005 17.889 21.798 16 21.798C14.111 21.798 12.261 22.005 10.45 22.4188C8.639 22.8323 6.7335 23.5436 4.7335 24.5526C4.32217 24.7678 3.986 25.0909 3.725 25.5218C3.464 25.9526 3.3335 26.4117 3.3335 26.899V28.5992Z"
                                          fill="#5F6368" />
                                </svg>

                                <span class=" me-3">@order.UserNickname</span>

                                <!-- 交易地區 -->
                                <div class=" card-text " style="padding: 0; margin: 0;">


                                    <svg class="" width="13" height="14" viewBox="0 0 14 17" fill="none">
                                        <path d="M6.8 8.5C7.2675 8.5 7.66771 8.33354 8.00062 8.00063C8.33354 7.66771 8.5 7.2675 8.5 6.8C8.5 6.3325 8.33354 5.93229 8.00062 5.59938C7.66771 5.26646 7.2675 5.1 6.8 5.1C6.3325 5.1 5.93229 5.26646 5.59937 5.59938C5.26646 5.93229 5.1 6.3325 5.1 6.8C5.1 7.2675 5.26646 7.66771 5.59937 8.00063C5.93229 8.33354 6.3325 8.5 6.8 8.5ZM6.8 14.7475C8.52833 13.1608 9.81042 11.7194 10.6462 10.4231C11.4821 9.12688 11.9 7.97583 11.9 6.97C11.9 5.42583 11.4077 4.16146 10.4231 3.17688C9.43854 2.19229 8.23083 1.7 6.8 1.7C5.36917 1.7 4.16146 2.19229 3.17687 3.17688C2.19229 4.16146 1.7 5.42583 1.7 6.97C1.7 7.97583 2.11792 9.12688 2.95375 10.4231C3.78958 11.7194 5.07167 13.1608 6.8 14.7475ZM6.8 17C4.51917 15.0592 2.81562 13.2565 1.68937 11.5919C0.563125 9.92729 0 8.38667 0 6.97C0 4.845 0.683542 3.15208 2.05062 1.89125C3.41771 0.630417 5.00083 0 6.8 0C8.59917 0 10.1823 0.630417 11.5494 1.89125C12.9165 3.15208 13.6 4.845 13.6 6.97C13.6 8.38667 13.0369 9.92729 11.9106 11.5919C10.7844 13.2565 9.08083 15.0592 6.8 17Z"
                                              fill="#5F6368" />
                                    </svg>
                                    <span class="">@order.CityName</span>
                                    <span class="ms-2">@order.RegionName</span>
                                </div>


                            </div>

                            <!-- 聯絡方式 -->
                            <div class=" d-flex align-items-center result-contact" style="margin-bottom: 0.7rem;">
                                <span class="fw-bold d-inline-block">聯絡資訊</span>
                                <svg width="13" height="14" viewBox="0 0 13 14" fill="none">
                                    <path d="M1.40732 13.8985V12.6948H11.0369V13.8985H1.40732ZM1.40732 1.86142V0.657715H11.0369V1.86142H1.40732ZM6.22213 7.87994C6.72367 7.87994 7.14999 7.7044 7.50107 7.35332C7.85215 7.00224 8.02769 6.57593 8.02769 6.07438C8.02769 5.57284 7.85215 5.14653 7.50107 4.79545C7.14999 4.44437 6.72367 4.26883 6.22213 4.26883C5.72059 4.26883 5.29428 4.44437 4.9432 4.79545C4.59212 5.14653 4.41658 5.57284 4.41658 6.07438C4.41658 6.57593 4.59212 7.00224 4.9432 7.35332C5.29428 7.7044 5.72059 7.87994 6.22213 7.87994ZM1.40732 12.0929C1.0763 12.0929 0.792927 11.975 0.557201 11.7393C0.321476 11.5036 0.203613 11.2202 0.203613 10.8892V3.66697C0.203613 3.33596 0.321476 3.05258 0.557201 2.81686C0.792927 2.58113 1.0763 2.46327 1.40732 2.46327H11.0369C11.368 2.46327 11.6513 2.58113 11.8871 2.81686C12.1228 3.05258 12.2406 3.33596 12.2406 3.66697V10.8892C12.2406 11.2202 12.1228 11.5036 11.8871 11.7393C11.6513 11.975 11.368 12.0929 11.0369 12.0929H1.40732ZM2.46056 10.8892C2.91195 10.3275 3.45863 9.88611 4.1006 9.56512C4.74258 9.24414 5.44976 9.08364 6.22213 9.08364C6.99451 9.08364 7.70168 9.24414 8.34366 9.56512C8.98563 9.88611 9.53232 10.3275 9.98371 10.8892H11.0369V3.66697H1.40732V10.8892H2.46056ZM4.23602 10.8892H8.20824C7.91735 10.6886 7.60388 10.5381 7.26785 10.4378C6.93182 10.3375 6.58324 10.2873 6.22213 10.2873C5.86102 10.2873 5.51245 10.3375 5.17641 10.4378C4.84038 10.5381 4.52692 10.6886 4.23602 10.8892ZM6.22213 6.67623C6.05161 6.67623 5.90867 6.61856 5.79331 6.5032C5.67796 6.38785 5.62028 6.24491 5.62028 6.07438C5.62028 5.90386 5.67796 5.76092 5.79331 5.64556C5.90867 5.53021 6.05161 5.47253 6.22213 5.47253C6.39266 5.47253 6.5356 5.53021 6.65095 5.64556C6.76631 5.76092 6.82398 5.90386 6.82398 6.07438C6.82398 6.24491 6.76631 6.38785 6.65095 6.5032C6.5356 6.61856 6.39266 6.67623 6.22213 6.67623Z"
                                          fill="#5F6368" />
                                </svg>
                                <span class="ms-1">其他聯絡方式</span>
                            </div>

                            <!-- 配對按鈕 -->
                            <button href="#" class="position-absolute text-center
                                        justify-content-center lh-5 btn-hover btn-wanna-match-style" style="bottom: 10%;"
                                    CherishId="@order.CherishId">
                                查看更多
                            </button>

                        </div>
                    </div>
                }
            }



        </div>

    </div>
</div>



<!-- 彈出詳細匹配資訊 -->
<div class="popup-order-info visible-hide" id="popup-order-info">
</div>

<!-- 確認匹配輸入框 -->
<div class="popup-order-match d-flex flex-column align-items-center visible-hide" id="popup-order-match">

    <!-- 標題 -->
    <h4 class="d-block text-center pt-4">請輸入您的聯絡資訊</h4>

    <!-- 
    帶入按鈕
    
    <button class="d-flex align-items-center btn-fill-info">
        帶入填寫聯絡資訊
    </button>
    
    -->
    <form action="" id="match-info-form">
        <input type="text" id="CherishId" name="CherishId" value="" hidden/>
        <div class="w-75 m-auto">
            <label for="" class="me-3 mt-3">暱稱</label>
            <input class="rounded-2 ps-2 w-100" type="text" name="UserNickname" id="UserNickname">
        </div>

        <div class="w-75 m-auto">
            <p class="form-contact-info mt-3 fw-600">聯絡方式</p>
        </div>


        <div class="row w-75 m-auto">
            <label for="ApplicantContactLine" class="col-5 me-4">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path d="M19 0H3C1.34315 0 0 1.34315 0 3V19C0 20.6569 1.34315 22 3 22H19C20.6569 22 22 20.6569 22 19V3C22 1.34315 20.6569 0 19 0Z"
                          fill="#39CD00" />
                    <path d="M17.875 10.25C17.8652 10.3897 17.8473 10.5287 17.8213 10.6663C17.7343 11.193 17.5562 11.7006 17.295 12.1663C17.17 12.3888 16.5688 13.2338 16.385 13.4563C15.3688 14.68 13.6662 16.0925 10.8212 17.4663C10.7612 17.4952 10.6946 17.5077 10.6281 17.5024C10.5617 17.497 10.4979 17.4741 10.4432 17.4359C10.3886 17.3977 10.3452 17.3456 10.3173 17.2851C10.2895 17.2245 10.2784 17.1576 10.285 17.0913L10.4288 15.8C10.4396 15.7012 10.4109 15.6022 10.3487 15.5246C10.2866 15.447 10.1963 15.3972 10.0975 15.3863C9.15104 15.2916 8.22908 15.0287 7.375 14.61C5.425 13.6463 4.125 11.925 4.125 9.96375C4.125 6.94375 7.2025 4.5 11 4.5C12.9075 4.5 14.6325 5.125 15.875 6.11625C17.0388 7.0475 17.7838 8.31125 17.8638 9.71375C17.8771 9.89217 17.8808 10.0712 17.875 10.25Z"
                          fill="white" />
                    <path d="M9.10489 11.1736C9.13814 11.2061 9.16448 11.245 9.18231 11.288C9.20014 11.3309 9.20909 11.3771 9.20864 11.4236C9.2088 11.4698 9.19984 11.5156 9.18226 11.5584C9.16468 11.6011 9.13884 11.64 9.1062 11.6728C9.07357 11.7055 9.03479 11.7315 8.9921 11.7492C8.9494 11.767 8.90362 11.7761 8.85739 11.7761H7.45114C7.35775 11.7757 7.26828 11.7385 7.20225 11.6725C7.13621 11.6064 7.09897 11.517 7.09864 11.4236V8.76733C7.09833 8.72083 7.10735 8.67475 7.12517 8.63181C7.14299 8.58887 7.16925 8.54994 7.20239 8.51733C7.25159 8.46797 7.31436 8.43437 7.38271 8.42079C7.45107 8.40722 7.52191 8.41428 7.58624 8.44108C7.65057 8.46789 7.70547 8.51322 7.74396 8.57131C7.78245 8.62941 7.80279 8.69764 7.80239 8.76733V11.0711H8.85739C8.90341 11.0707 8.94902 11.0796 8.99154 11.0972C9.03405 11.1148 9.0726 11.1408 9.10489 11.1736Z"
                          fill="#00C200" />
                    <path d="M10.25 8.69103V11.4998C10.2497 11.5726 10.2206 11.6424 10.1691 11.6939C10.1176 11.7454 10.0478 11.7744 9.97498 11.7748H9.81748C9.74455 11.7748 9.6746 11.7458 9.62303 11.6942C9.57145 11.6427 9.54248 11.5727 9.54248 11.4998V8.69103C9.54248 8.65491 9.54959 8.61915 9.56341 8.58579C9.57723 8.55242 9.59749 8.52211 9.62303 8.49657C9.64856 8.47104 9.67888 8.45078 9.71224 8.43696C9.74561 8.42314 9.78137 8.41603 9.81748 8.41603H9.97123C10.0076 8.4157 10.0437 8.42256 10.0774 8.43622C10.1111 8.44987 10.1418 8.47006 10.1677 8.49561C10.1936 8.52116 10.2142 8.55158 10.2284 8.58511C10.2425 8.61865 10.2498 8.65464 10.25 8.69103Z"
                          fill="#00C200" />
                    <path d="M13.515 8.76731V11.4086C13.515 11.5036 13.4782 11.5949 13.4122 11.6632C13.3462 11.7316 13.2562 11.7716 13.1612 11.7748C13.0722 11.7734 12.987 11.7386 12.9225 11.6773C12.91 11.6673 12.4375 11.0523 12.0362 10.5348C11.7362 10.1486 11.4762 9.81106 11.4762 9.81106V11.4223C11.4765 11.4906 11.4568 11.5575 11.4196 11.6148C11.3824 11.6721 11.3294 11.7173 11.2669 11.7448C11.2044 11.7724 11.1353 11.7812 11.0679 11.7701C11.0005 11.759 10.9378 11.7285 10.8875 11.6823C10.8512 11.6494 10.8222 11.6093 10.8024 11.5645C10.7826 11.5197 10.7724 11.4713 10.7725 11.4223V8.78231C10.7713 8.6895 10.8058 8.59978 10.8688 8.53165C10.9319 8.46351 11.0186 8.42214 11.1112 8.41606C11.1637 8.41521 11.2156 8.42597 11.2634 8.44758C11.3111 8.4692 11.3535 8.50112 11.3875 8.54106C11.4025 8.55856 12.1287 9.50356 12.5375 10.0411C12.7 10.2511 12.8125 10.3986 12.8125 10.3986V8.77356C12.8131 8.68061 12.8504 8.59165 12.9161 8.52591C12.9818 8.46018 13.0708 8.42297 13.1637 8.42231C13.2558 8.4223 13.3442 8.45845 13.4099 8.52297C13.4756 8.5875 13.5134 8.67524 13.515 8.76731Z"
                          fill="#00C200" />
                    <path d="M14.75 10.4462V11.0712H15.8037C15.8517 11.0683 15.8998 11.0753 15.9449 11.0917C15.9901 11.1081 16.0315 11.1335 16.0664 11.1665C16.1014 11.1994 16.1293 11.2392 16.1483 11.2833C16.1674 11.3274 16.1772 11.375 16.1772 11.423C16.1772 11.4711 16.1674 11.5186 16.1483 11.5628C16.1293 11.6069 16.1014 11.6466 16.0664 11.6796C16.0315 11.7125 15.9901 11.738 15.9449 11.7544C15.8998 11.7708 15.8517 11.7778 15.8037 11.7749H14.3937C14.3005 11.7746 14.2111 11.7373 14.1453 11.6712C14.0794 11.6051 14.0425 11.5157 14.0425 11.4224V8.7674C14.0428 8.67435 14.0799 8.5852 14.1457 8.5194C14.2115 8.45359 14.3007 8.41648 14.3937 8.41615H15.8C15.848 8.41329 15.896 8.42027 15.9412 8.43666C15.9864 8.45305 16.0277 8.47851 16.0627 8.51146C16.0977 8.54442 16.1255 8.58418 16.1446 8.6283C16.1636 8.67242 16.1735 8.71997 16.1735 8.76803C16.1735 8.81608 16.1636 8.86364 16.1446 8.90776C16.1255 8.95188 16.0977 8.99164 16.0627 9.02459C16.0277 9.05755 15.9864 9.083 15.9412 9.09939C15.896 9.11578 15.848 9.12276 15.8 9.1199H14.75V9.7449H15.8037C15.8969 9.7449 15.9862 9.78191 16.0521 9.84778C16.118 9.91365 16.155 10.003 16.155 10.0962C16.155 10.1893 16.118 10.2787 16.0521 10.3445C15.9862 10.4104 15.8969 10.4474 15.8037 10.4474L14.75 10.4462Z"
                          fill="#00C200" />
                </svg>
                LINE
            </label>
            <label for="ApplicantContactPhone" class="col-6">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
                    <path d="M17.5102 13.2102L14.9983 10.6982C14.1012 9.80111 12.576 10.16 12.2172 11.3262C11.948 12.1337 11.0509 12.5822 10.2435 12.4028C8.44926 11.9542 6.02701 9.62168 5.57845 7.73772C5.30931 6.93027 5.84759 6.03314 6.655 5.76404C7.82127 5.40519 8.18012 3.88007 7.28299 2.98295L4.77104 0.470991C4.05334 -0.156997 2.97679 -0.156997 2.3488 0.470991L0.644257 2.17553C-1.06028 3.96978 0.823682 8.72455 5.04018 12.941C9.25667 17.1575 14.0114 19.1313 15.8057 17.337L17.5102 15.6324C18.1383 14.9147 18.1383 13.8382 17.5102 13.2102Z"
                          fill="#5F6368" />
                </svg>
                其他聯絡方式
            </label>
        </div>
        <div class="row w-75 m-auto">

            <!-- LINE -->
            <input class="rounded-2 ps-2 col-5 me-4" type="text" name="ApplicantContactLine" id="ApplicantContactLine">

            <!-- Other -->
            <input class="rounded-2 ps-2 col-6" type="text" name="ApplicantContactPhone" id="ApplicantContactPhone">
        </div>
        <div class="row w-75 m-auto">
            <label for="ApplicantContactOther" class="me-3 mt-3">
                <svg width="18" height="20" viewBox="0 0 18 20" fill="none">
                    <path d="M2.33317 19.1668V17.5002H15.6665V19.1668H2.33317ZM2.33317 2.50016V0.833496H15.6665V2.50016H2.33317ZM8.99984 10.8335C9.69428 10.8335 10.2846 10.5904 10.7707 10.1043C11.2568 9.61822 11.4998 9.02794 11.4998 8.3335C11.4998 7.63905 11.2568 7.04877 10.7707 6.56266C10.2846 6.07655 9.69428 5.8335 8.99984 5.8335C8.30539 5.8335 7.71511 6.07655 7.229 6.56266C6.74289 7.04877 6.49984 7.63905 6.49984 8.3335C6.49984 9.02794 6.74289 9.61822 7.229 10.1043C7.71511 10.5904 8.30539 10.8335 8.99984 10.8335ZM2.33317 16.6668C1.87484 16.6668 1.48248 16.5036 1.15609 16.1772C0.829698 15.8509 0.666504 15.4585 0.666504 15.0002V5.00016C0.666504 4.54183 0.829698 4.14947 1.15609 3.82308C1.48248 3.49669 1.87484 3.3335 2.33317 3.3335H15.6665C16.1248 3.3335 16.5172 3.49669 16.8436 3.82308C17.17 4.14947 17.3332 4.54183 17.3332 5.00016V15.0002C17.3332 15.4585 17.17 15.8509 16.8436 16.1772C16.5172 16.5036 16.1248 16.6668 15.6665 16.6668H2.33317ZM3.7915 15.0002C4.4165 14.2224 5.17345 13.6113 6.06234 13.1668C6.95123 12.7224 7.93039 12.5002 8.99984 12.5002C10.0693 12.5002 11.0484 12.7224 11.9373 13.1668C12.8262 13.6113 13.5832 14.2224 14.2082 15.0002H15.6665V5.00016H2.33317V15.0002H3.7915ZM6.24984 15.0002H11.7498C11.3471 14.7224 10.913 14.5141 10.4478 14.3752C9.98248 14.2363 9.49984 14.1668 8.99984 14.1668C8.49984 14.1668 8.0172 14.2363 7.55192 14.3752C7.08664 14.5141 6.65261 14.7224 6.24984 15.0002ZM8.99984 9.16683C8.76373 9.16683 8.56581 9.08697 8.40609 8.92725C8.24636 8.76752 8.1665 8.56961 8.1665 8.3335C8.1665 8.09739 8.24636 7.89947 8.40609 7.73975C8.56581 7.58002 8.76373 7.50016 8.99984 7.50016C9.23595 7.50016 9.43386 7.58002 9.59359 7.73975C9.75331 7.89947 9.83317 8.09739 9.83317 8.3335C9.83317 8.56961 9.75331 8.76752 9.59359 8.92725C9.43386 9.08697 9.23595 9.16683 8.99984 9.16683Z"
                          fill="#5F6368" />
                </svg>
                其他聯絡方式
            </label>
            <br>
            <input class="rounded-2 ps-2 col-12" type="text" name="ApplicantContactOther" id="ApplicantContactOther">
        </div>

        <!-- 配對按鈕 -->
        <button type="submit" href="#" id="btn-match-info-post"
                class="position-absolute text-center justify-content-center lh-5 btn-hover btn-wanna-match-style">
            提交
        </button>

        <!-- 返回 -->
        <button type="button" href="#" id="btn-match-off"
                class=" position-absolute text-center lh-5 btn-back-style">
            返回
        </button>

    </form>

</div>

<!-- 最後聯絡資訊 -->
<!-- 彈出詳細匹配資訊 -->
<div class="contact-info visible-hide " id="contact-info">
</div>


@section Scripts {
    <script src="~/js/cherish/Match.js?@date"></script>
   
}