@using YumYum.Models.DataTransferObject
@model List<MatchHistory>

@* --麵包屑導覽-- *@

	@await Html.PartialAsync("_PartialBreadcrumb", (List<BreadcrumbItem>)ViewBag.Breadcrumbs)



<div class="container d-flex justify-content-center align-items-center mt-3" style="max-width: 960px; margin: 0 auto;">

	<main>
		@if (Model != null && Model.Any())
		{

			// 有資料時顯示的內容
		

		<!-- 表單標題 即期良食資料 -->
		<div class="row article-title rounded-top ">
			<div class="col-4 ms-3">
				<h2 class="my-3">即期良食資料</h2>
			</div>
		</div>
		
			
				<!-- 食材表單內容  -->

				<div class="row background-white area-padding p-4">
					<div class="food-card d-flex flex-wrap mt-2 md-2">
						<div class="col-4">
						<img src="@Model[0].CherishPhoto" class="p-3 img-fluid" alt="Food">
							@* <img src="/img/cherish/1.jpg" class="p-3 img-fluid" alt="Food"> *@
						</div>
						<div class="col-8 p-3">
							<div class="d-flex justify-content-between mt-3 mb-3">
							<h5 class="fw-bold d-inline-block">@Model[0].IngredientName @Model[0].CherishId</h5>
						<div>數量: @Model[0].Quantity</div>
								<div>
							<div>截止日期: @Model[0].EndDate.ToString("yyyy.MM.dd")</div>
								</div>
							</div>
							<div class="d-flex justify-content-between mt-3 mb-3 align-items-center">
						<span>購買日期 或 採收日期: </span><span>@Model[0].ObtainDate.ToString("yyyy.MM.dd")</span>


								<p style="padding: 0.2rem 0; margin: 0.5rem 0;right: 8%;  border-radius: 15px;
										width: 5.7rem; background-color:#0000002c;text-align:
										center;font-size: 1rem;">
							@Model[0].IngredAttributeName
								</p>
							</div>

							<p class="d-flex justify-content: flex-start align-items-center pt-4 pd-4">

							<span>食材來源: @Model[0].ObtainSource</span>
							</p>

							<!-- 有效期限 -->
							<div class="cherishMatch d-flex justify-content-between pt-4 pd-4">
								<span class="fw-bold d-inline-block ">
									有效期限
								</span>
						<span>@(Model[0].CherishValidDate == null ? "無備註" : ((DateOnly)Model[0].CherishValidDate!).ToString("yyyy.MM.dd"))</span>



							</div>

						</div>

					</div>
				</div>

			
				<!-- 表單標題 聯絡方式 -->
				<div class="row article-title rounded-top">
					<div class="col-4 ms-3">
						<h2 class="my-3">聯絡方式</h2>
					</div>
				</div>

				<!-- 表單內容 -->

				<div class="row background-white mb-4 area-padding">
					<div class="team-boxed">
						<div class="container">
							<div class="row g-4">

				<!-- 配對人卡片  -->
				@foreach (MatchHistory order in Model)
				{ 

				<div class="col-md-6 col-lg-4 item">
					<div class="box text-center">
						

										@if (!string.IsNullOrEmpty(order.HeadShot))
										{
											<img src="@order.HeadShot"
												 class="rounded-circle mb-3"
												 style="max-width: 100%;"
												 alt="recipe_intro"
												 onerror="this.src='/img/icon/EmptyAvatar.svg';">
										}
										else
										{
											<img src="/img/icon/EmptyAvatar.svg"
												 class="rounded-circle mb-3"
												 style="max-width: 100%;"
												 alt="recipe_intro">
										}
									<p class="name fs-4">@order.UserNickname</p>
										<p class="title">聯絡方式</p>
						<!-- Line -->
						<div class="item">
							<div class="contact mb-2">
								<img src="/img/icon/line.svg" style="width: 20px; height: 20px;"
									 alt="line-icon">


												

								<label for="ContactLine" class="form-label ms-1">LINE</label>
											<input class="form-control" 
											type="text"
												   @* value="@order.ApplicantContactLine" *@
													   value="@(order.ApplicantContactLine == null ? "無" : order.ApplicantContactLine)"
												   readonly>
							</div>
						</div>
						<!-- Phone -->
						<div class="item">
							<div class="contact mb-2">
								<img src="/img/icon/phone.svg" style="width: 20px; height: 20px;"
									 alt="phone-icon">
								<label for="ContactPhone" class="form-label ms-1">電話</label>
											<input class="form-control"
													   type="text" 

												   value="@(order.ApplicantContactPhone == null ? "無" : order.ApplicantContactPhone)"
												   readonly>
							</div>
						</div>
						<!-- Other Contact -->
						<div class="item">
							<div class="contact">
								<img src="/img/icon/contacts.svg" style="width: 20px; height: 20px;"
									 alt="contacts-icon">
								<label for="ContactOther" class="form-label ms-1">其他聯絡方式</label>
											<input class="form-control" 
											type="text"

											value="@(order.ApplicantContactOther == null ? "無" : order.ApplicantContactOther)"
										    readonly>
							</div>
						</div>
					</div>
				</div>
						}
							

							<!-- 返回按鈕 -->
							
								<!-- 返回按鈕 -->
							<div class="max-width:50% d-flex align-content-center">
									<a class="btn back-btn mt-3 mb-3" href="@Url.Action("MatchHistory", "Cherish")">
										返回
									</a>
								</div>




							</div>
						</div>
					</div>
				</div>


		}
		else
		{

			<div>

			<!-- 返回按鈕 -->
				<div>
					<!-- 無資料時顯示 -->
					<h2 class="fw-bold d-inline-block">還沒有人認領~請耐心等候~</h2>
					<!-- 返回按鈕 -->
					<div class="max-width:50% d-flex align-content-center">
						<a class="btn back-btn" href="@Url.Action("MatchHistory", "Cherish")">
							返回
						</a>
					</div>
				</div>
			</div>
		}
			</main>
		</div>



